<app-top-menu></app-top-menu>
<div class="content">
    <div class="loginForm">
        <h2>Zaloguj się</h2>
        <div class="loginFormElements">
            <mat-form-field>
                <mat-label>Login</mat-label>
                <input matInput [(ngModel)]="username" (keydown.enter)="login()" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Hasło</mat-label>
                <input matInput type="password" [(ngModel)]="password" (keydown.enter)="login()" />
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="login()">Zaloguj się</button>
        </div>
        <span class="errorMessage">Błędny login lub hasło!</span>
        <mat-spinner></mat-spinner>
    </div>
</div>
